/* REGOLE GENERALI DI PAGINA */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
/* REGOLE GENERALI HEADER */
header {
  background: darkblue;
  width: 100%;
}
/* REGOLE NAVBAR */
.navbar {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  font-size: 13px;
  padding-top: 2%;

}
/* CLEARFIX NAVBAR */
.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.col1 {
  width: 15%;
  float: left;
}

.col2 {
  width: 50%;
  float: left;
}

.col3 {
  width: 35%;
  float: right;
}

.col2 ul, .col3 ul {
  list-style-type: none;
  line-height: 50px;
}

.col2 li, .col3 li {
  display: inline-block;
}

.col2 a, .col3 a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

#link4 {
  color: grey;
}

#link5 {
  border: 1px solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

#link6 {
  background: green;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}


.seconda_riga_header:after{
  content: "";
  display: table;
  clear: both;
}
.col1_head2{
  float:left;
  width: 50%;
  margin-top: 5%;
}

.col2_head2{
  float:left;
  width: 50%;
  margin-top: 2%;;
}

.immagine_header {
  width: 100%;
  height: 100%;
}

.titolo {
  font-size: 43px;
  margin-left: 20%;
  color: white;
  margin-bottom: 2%;
}

.link_sottotitolo {
  background: green;
  color: white;
  text-decoration: none;
  margin-left: 20%;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* REGOLE PARAGRAFO SOTTO HEADER */
.scuole_trad {
  background: #EEEEEE;
  padding: 40px;
  text-align: center;
}
.scuole_trad h3{
  margin-bottom: 1%;
  font-size: 25px;
}
.scuole_trad p {
  font-size: 18px
}

/* REGOLE CONTAINER COLONNE */
.container_colonne {
  margin-top: 2%;
}
.container_colonne:after{
  content: "";
  display: table;
  clear: both;
}

/* REGOLE PRIMA COLONNA */
.prima_colonna {
  float: left;
  width: 25.3%;
  margin-right: 5%;
  margin-left: 7%;
}

.container_img {
  width: 50%;
  background: url (../img/colonna1);
}
.img_colonna {
  width: 200px;
  height: 200px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
h4 {
  font-size: 25px;
  color: #9CCC65;
  text-align: center;
  margin-bottom: 5%
}
.hr_piccolo {
  border-top: 2px solid;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 5%;
  opacity: 0.5;
}
.p {
  text-align: center;
  line-height: 25px;
}
.seconda_colonna {
  float: left;
  width: 25.3%;
  margin-right: 5%;
}

/* REGOLE PER ALLINEARE ORIZZONTALMENTE TUTTE LE COLONNE */
.allineare {
  margin-top: 47px;
}
.terza_colonna {
  float: left;
  width: 25.3%;
}

/* REGOLE HR LUNGO */
.hr_lungo {
  border-top: 2px solid;
  width: 94%;
  margin-bottom: 5%;
  opacity: 0.5;
  margin-top: 60px;
  margin-left: 3%;
  margin-left: 3%;
}
/* BLOCCO DUE COLONNE CON IMMAGINE A SINISTRA */
.container_due_col:after {
  content:"";
  display: table;
  clear: both;
}
.container_due_col {
  margin-left: 15%;
  margin-right: 15%
}
.collo1 {
  float: left;
  width: 44%;
  margin-right: 6%
}
.img_mountain {
  width: 100%;
  height: 100%;
}
.collo2 {
  float: left;
  width: 44%;
  margin-left: 6%;
  margin-top: 5%;
}
.collo2 h3 {
  font-size: 35px;
}
.collo2 p {
  color: grey;
  font-size: 22px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.collo2 a {
  font-size: 22px;
  color: lightblue;
}





/* CONTAINER GENERALE FOOTER */
.container_footer {
  width: 100%;
  height: 600px;
  background: blue;
}
/* REGOLE PRIMA PARTE FOOTER */
.container_prima_parte{
  width: 100%;
  height: 30%;
  background: darkblue;
  position: relative;
}
h2{
  color: white;
  font-size: 30px;
  position: absolute;
  left: 7%;
  top: 25%
}
span {
  color: orange;
}
.paragrafo_footer {
  color: darkgrey;
  font-size: 22px;
  position: absolute;
  left: 7%;
  top: 45%
}

/* REGOLE CLEARFIX SECONDA PARTE FOOTER */
.container_seconda_parte:after{
  content: "";
  display: table;
  clear: both;
}

/* REGOLE NAVFOOTER */
.navfooter {
  margin-top: 5%;
  margin-left: 7%;
  float: left;
}
.azienda {
  color: white;
  margin-bottom: 10%;
  font-size: 20px;
}
.navfooter ul {
  list-style-type: none;
}
.navfooter li {
  font-size: 20px;
  margin-bottom: 10%
}
.navfooter a {
  text-decoration: none;
  color: darkgrey;
}

/* REGOLE SECONDA COLONNA SECONDA PARTE FOOTER */
.container_seconda_colonna {
  float: right;
  margin-right: 25%;
  margin-top: 5%;
  color: white;
  font-size: 20px;
  text-align: right;
}
.copyright {
  margin-bottom: 10%;
}
.sottotitolo_copyright {
  margin-bottom: 15%;
}
.contatti {
  text-align: right;
  color: darkgrey;

}
