/* REGOLE GENERALI DI PAGINA */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE GENERALI HEADER */
header {
  width: 100%;
  background-color: darkblue;
}

/* REGOLE IMMAGINE LOGO */
.logo {
  margin-left: 7%;
  margin-top: 2%;
  float: left;

}

/* REGOLE GENERALI NAVBAR */
.navbar {
  /* display: inline-block; */
  margin-left: 5%;
  float: left;
  margin-top: 2%
}

.navbar ul {
  list-style-type: none;
}
/* CLEARFIX UL */
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}

/* REGOLE LIST ITEM */
.navbar li {
  float: left;
  text-align: center;
  font-size: 13px;
  margin-right: 15px;
}

/* REGOLE PER IL LINK */
.navbar a {
  color: white;
  line-height: 35px;
  text-decoration: none;
}
.navbar a:hover {
  color: orange;
}

/* LIST ITEM "diventa un tutor" */
.navbar  li .tutor {
  margin-left: 200px;
  color: darkgrey;
}

/* REGOLE BOTTONI */
.login_btn {
  border: 1px solid blue;
  background-color: inherit;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

.strut_btn {
  background-color: green;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

/* REGOLE IMMAGINE HEADER */
.container_img {
  width: 53%;
  height: 400px;
  float: right;
  background: url(../img/immagine_header.png);
  background-size: cover;
  margin-top: 2%;
}

/* REGOLE TITOLO */
.container_titolo {
  float: left;
  color: white;
  width: 40%;
  margin-left: 7%;
  margin-top: 8%;

}

h1 {
  font-size: 43px;
}
/* CLEARFIX HEADER */
header:after {
  content: "";
  display: table;
  clear: both;
}

/* REGOLE BUTTON TITOLO*/
.button_titolo {
  background-color: green;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
  margin-top: 4%;
}

/* REGOLE PARAGRAFO SOTTO HEADER */
.scuole_trad {
  background: #EEEEEE;
  padding: 40px;
  text-align: center;
}
.scuole_trad h3{
  margin-bottom: 1%;
  font-size: 25px;
}
.scuole_trad p {
  font-size: 18px
}

/* REGOLE CONTAINER COLONNE */
.container_colonne {
  margin-top: 2%;
}
.container_colonne:after{
  content: "";
  display: table;
  clear: both;
}

/* REGOLE PRIMA COLONNA */
.prima_colonna {
  float: left;
  width: 25.3%;
  margin-right: 5%;
  margin-left: 7%;
}

.container_img {
  width: 50%;
  background: url (../img/colonna1);
}
.img_colonna {
  width: 200px;
  height: 200px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}
h4 {
  font-size: 25px;
  color: #9CCC65;
  text-align: center;
  margin-bottom: 5%
}
.hr_piccolo {
  border-top: 2px solid;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 5%;
  opacity: 0.5;
}
.p {
  text-align: center;
  line-height: 25px;
}
.seconda_colonna {
  float: left;
  width: 25.3%;
  margin-right: 5%;
}

/* REGOLE PER ALLINEARE ORIZZONTALMENTE TUTTE LE COLONNE */
.allineare {
  margin-top: 47px;
}
.terza_colonna {
  float: left;
  width: 25.3%;
}

/* REGOLE HR LUNGO */
.hr_lungo {
  border-top: 2px solid;
  width: 99%;
  margin-bottom: 5%;
  opacity: 0.5;
  margin-top: 60px;
}

/* CONTAINER GENERALE FOOTER */
.container_footer {
  width: 100%;
  height: 600px;
  background: blue;
}

.container_prima_parte{
  width: 100%;
  height: 30%;
  background: darkblue;
  position: relative;
}
h2{
  color: white;
  font-size: 30px;
  position: absolute;
  left: 7%;
  top: 25%
}
span {
  color: orange;
}
.paragrafo_footer {
  color: darkgrey;
  font-size: 22px;
  position: absolute;
  left: 7%;
  top: 45%
}

/* REGOLE CLEARFIX SECONDA PARTE FOOTER */
.container_seconda_parte:after{
  content: "";
  display: table;
  clear: both;
}

/* REGOLE NAVFOOTER */
.navfooter {
  margin-top: 5%;
  margin-left: 7%;
  float: left;
}
.azienda {
  color: white;
  margin-bottom: 10%;
  font-size: 20px;
}
.navfooter ul {
  list-style-type: none;
}
.navfooter li {
  font-size: 20px;
  margin-bottom: 10%
}
.navfooter a {
  text-decoration: none;
  color: darkgrey;
}

/* REGOLE SECONDA COLONNA SECONDA PARTE FOOTER */
.container_seconda_colonna {
  float: right;
  margin-right: 25%;
  margin-top: 5%;
  color: white;
  font-size: 20px;
  text-align: right;
}
.copyright {
  margin-bottom: 10%;
}
.sottotitolo_copyright {
  margin-bottom: 15%;
}
.contatti {
  text-align: right;
  color: darkgrey;

}
