/* REGOLE GENERALI DI PAGINA */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE GENERALI HEADER */
header {
  width: 100%;
  background-color: darkblue;
}

/* REGOLE IMMAGINE LOGO */
.logo {
  margin-left: 7%;
  margin-top: 2%;
}

/* REGOLE GENERALI NAVBAR */
.navbar {
  display: inline-block;
  margin-left: 5%;
}

.navbar ul {
  list-style-type: none;
  display: inline;
}
/* CLEARFIX UL */
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}

/* REGOLE LIST ITEM */
.navbar li {
  float: left;
  text-align: center;
  font-size: 12px;
  margin-right: 10px;
}

/* REGOLE PER IL LINK */
.navbar a {
  color: white;
  line-height: 34px;
  text-decoration: none;
}

/* LIST ITEM "diventa un tutor" */
.navbar  li .tutor {
  margin-left: 150px;
  color: darkgrey;
}

/* REGOLE BOTTONI */
.login_btn {
  border: 1px solid blue;
  background-color: inherit;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

.strut_btn {
  background-color: green;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}

/* REGOLE IMMAGINE HEADER */
.container_img {
  width: 53%;
  height: 400px;
  float: right;
  background: url(../img/immagine_header.png);
  background-size: cover;
}

/* REGOLE TITOLO */
.container_titolo {
  float: left;
  color: white;
  width: 40%;
  margin-left: 7%;
  margin-top: 8%;

}

h1 {
  font-size: 43px;
}
/* CLEARFIX HEADER */
header:after {
  content: "";
  display: table;
  clear: both;
}

/* REGOLE BUTTON TITOLO*/
.button_titolo {
  background-color: green;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-top: 4%;
}

/* REGOLE PARAGRAFO SOTTO HEADER */
.scuole_trad {
  background: #EEEEEE;
  padding: 40px;
  text-align: center;
}
.scuole_trad h3{
  margin-bottom: 1%
}
.scuole_trad p {
  text-align: center;
} */
